$background-color: #229395;
$font-family: 'Mulish', sans-serif;
$primary-color: #DD946F;
$secondary-color: #261E5A;
$color-neutral-0: #7acbcd;
$color-neutral-10: #229395;
$color-neutral-30: #a8a29e;
$color-neutral-40: #f5f5f5;